<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424137325708-7hdn2eqi2qnv6fm9im1i7392mv0tgvih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424137325708-7hdn2eqi2qnv6fm9im1i7392mv0tgvih</string>
	<key>API_KEY</key>
	<string>AIzaSyAzge6SlSjF9OLaAszNxuZxzIEihRsNr18</string>
	<key>GCM_SENDER_ID</key>
	<string>424137325708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqala.app</string>
	<key>PROJECT_ID</key>
	<string>aqala-de71b</string>
	<key>STORAGE_BUCKET</key>
	<string>aqala-de71b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424137325708:ios:172e5c1cf483fcb72c4fa9</string>
</dict>
</plist>